body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    background-color: #696969;
}

p {
    color: #fff;
}


.wrapper {
    background-color: #878787;

    margin: 0 auto;
    padding: 10px 20px;
    width: 60%;
}

.secondWin1 {
    color: #fff;
    text-decoration: underline;
}